* {
    background-color: #e7d8c9;
}

header {
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    margin-top: 1%;
}
/* separated to provide detail specifically to my name and border */
header h1 {
    font-size: 50px;
    color: #774936;
    font-family: cursive;
    background-color: white;
    border-bottom: 10px rgb(146, 98, 122);
    border-top: 10px #283618;
    border-style: solid;
    padding: 15px
}
/* wanted my nav separate from my header block and next to image */
nav {
    display: flex;
    flex-wrap: wrap;
    padding: 120px;
    margin-left: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #774936;  
    
}
/* did img separately to allow absolute position separate from flexbox used in earlier elements */
.avatar {
    position: absolute;
    top: 150px;
    right: 250px;
    width: -25%;
}
/* provided media query for smaller screen size so my img would be center and nav moved to side to avoid crunch appearance */
@media only screen and (max-width: 871px) {
    nav {
       margin-left: 10px;
       padding: 10px;
       padding-bottom: 160px;
    }
    .avatar {
        width: 200px;
        height: auto;
        position: absolute;
        left: 350px;
    }
} 
/* added quote separate to flex box above */
header h2 {
    font-size: 30px;
    font-family: cursive;
    color:#394828;
    text-align: center;
    padding: 30px;
}

.Box-1 {
    padding: 70px;
    background-color: #9d6b53;
    flex-direction: column;
    max-width:100%;
}
/* distinctions b/w paragraph and title inportant to me in font size */
.Box-1 h2 {
    font-size: 40px;
}

.Box-1 h2, p {
    background-color: #9d6b53;
    color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Box-1 p {
    font-size: 20px;
}
/* separated several elements in box 2 to make it easier in enlarging project 1 while keeping other project placeholders same sizes */
.Box-2 {
    padding: 30px;
    background-color:#545e56;
    display:flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Box-2 h2 {
    font-size: 40px;
    padding-bottom: 20px;
    color: tan;
    background-color: #545e56;
    text-align: center;
}

.Box-2 h3 {
    font-size: 30px;
    padding-left: 20px;
    background-color: #545e56;
    color: rgb(228, 209, 185);
    text-underline-position: below;
}

.Work-1-img {
    width: 100%;
    padding: 20px;
    background-color:#545e56;
}
/* wanted to keep this img larger than placeholders to meet criteria without it being moved out of screen */
@media only screen and (max-width: 800px) {
    .Work-1-img {
        width: 100%;
    }
}

.Box-2 h4 {
    display:flex;
    flex-direction: row;
    font-size: 30px;
    background-color:#545e56;
    color: rgb(228, 209, 185);
    padding: 20px;
}

.placeholder {
    display: flex;
    background-color: #545e56;
    padding: 20px;
    width: 50%;
}
/* wanted placeholders to remain smaller than project 1 img to meet criteria at all screen sizes */
@media only screen and (max-width: 630px) {
    .placeholder {
        width: 70%;
    }
}
/* contact section i wanted to keep at bottom and centered with links to my specific pages */
.Box-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(146, 98, 122);
    color:whitesmoke;
    text-align: center;
}

.Box-3 h2 {
    font-size: 40px;
    background-color: rgb(146, 98, 122);
    padding: 10px;
}

.Box-3 ul {
    font-size: 25px;
    color: whitesmoke;
    background-color: rgb(146, 98, 122);
}

.Box-3 ul li {
    background-color:rgb(146, 98, 122);
    padding: 10px;
}






